@theme tokyo;
@separator "─";
@margin 2;
@glow true;

@color { user: #7aa2f7; host: #bb9af7; label: #c0caf5; value: #c0caf5; }

@logo { enabled: true; distro: auto; color: #7aa2f7; }

@info {
    os: true;
    host: true;
    kernel: true;
    uptime: true;
    shell: true;
    wm: true;
    cpu: true;
    memory: true;
    disk: true;
}
