@theme gruvbox;
@palette gruvbox;
@separator ":";
@margin 1;
@bold true;

@color { user: #fabd2f; host: #fe8019; label: #ebdbb2; value: #ebdbb2; separator: #928374; }

@info { os: true; kernel: true; uptime: true; shell: true; cpu: true; memory: true; disk: true; }

@title { enabled: true; format: "{user}@{host}"; }

custom: "---";
