@theme monokai;
@style compact;
@palette mono;
@separator " → ";
@margin 2;
@opacity high;
@italic false;
@underline false;
@glow false;
@font "Source Code Pro";

@color {
  user: yellow;
  host: green;
  label: comment;
  value: foreground;
  separator: dark2;
  title: pink;
  logo: orange;
}

@logo {
  enabled: true;
  distro: auto;
  color: orange;
}

@title {
  enabled: true;
  format: "⟨ {user} ⸱ {host} ⟩";
}

@info {
  os: true;
  host: false;
  kernel: false;
  uptime: true;
  packages: false;
  shell: false;
  terminal: false;
  de: false;
  wm: false;
  cpu: true;
  gpu: false;
  memory: true;
  disk: true;
  locale: false;
  battery: false;
  resolution: false;
}

@labels {
  capitalize: true;
  uppercase: false;
}
