/* 08 - monokai pro */

:root {
    separator: "─";
    padding: 2;
    bold: true;
}

@colors {
    user: #fc9867;
    host: #a9dc76;
    label: #78dce8;
    value: #fcfcfa;
    separator: #5a5475;
    title: #fc9867;
    logo: #fc9867;
}

@info {
    os: true;
    host: true;
    kernel: true;
    uptime: true;
    packages: true;
    shell: true;
    terminal: true;
    de: true;
    wm: true;
    cpu: true;
    gpu: true;
    memory: true;
    disk: true;
    locale: true;
    battery: false;
    resolution: true;
}

@logo {
    enabled: true;
    distro: auto;
    color: #fc9867;
}

@title {
    enabled: true;
    format: "{user}@{host}";
}

@labels {
    capitalize: true;
}
