@theme monokai;
@separator "─";
@margin 2;
@bold true;

@color { user: #fc9867; host: #a9dc76; label: #fcfcfa; value: #fcfcfa; separator: #727072; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }

custom: "──────────────────────────────";
