@theme nord;
@palette nord;
@separator "─";
@margin 2;

@color { user: #88c0d0; host: #8fbcbb; label: #eceff4; value: #eceff4; separator: #4c566a; }

@info {
    os: true;
    host: true;
    kernel: true;
    uptime: true;
    packages: true;
    shell: true;
    terminal: true;
    de: true;
    wm: true;
    cpu: true;
    gpu: true;
    memory: true;
    disk: true;
    locale: true;
    battery: true;
    resolution: true;
}
