@theme rosepine;
@separator "·";
@margin 2;

@color { user: #ebbcba; host: #c4a7e7; label: #e0def4; value: #e0def4; separator: #908caa; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }
