@theme solarized;
@style clean;
@palette solarized;
@separator " · ";
@margin 2;
@opacity medium;
@italic false;
@underline false;
@glow false;
@font "IBM Plex Mono";

@color {
  user: yellow;
  host: orange;
  label: base1;
  value: base01;
  separator: base02;
  title: yellow;
  logo: yellow;
}

@logo {
  enabled: true;
  distro: auto;
  color: yellow;
}

@title {
  enabled: true;
  format: "{user}@{host}";
}

@info {
  os: true;
  host: false;
  kernel: true;
  uptime: false;
  packages: false;
  shell: false;
  terminal: false;
  de: false;
  wm: false;
  cpu: true;
  gpu: true;
  memory: true;
  disk: true;
  locale: false;
  battery: false;
  resolution: false;
}

@labels {
  capitalize: true;
  uppercase: true;
}

custom: "~~~~ solarized ~~~~";
