@theme palenight;
@separator " ║ ";
@margin 3;
@glow true;

@color { user: #c792ea; host: #82aaff; label: #a6accd; value: #a6accd; separator: #39adb5; }

@info {
    os: true;
    kernel: true;
    uptime: true;
    shell: true;
    wm: true;
    cpu: true;
    memory: true;
    disk: true;
}

custom: "╔═══════════════════════════╗";
custom: "║   voidfetch palenight    ║";
custom: "╚═══════════════════════════╝";
