@theme ocean;
@style fancy;
@palette catppuccin;
@separator " ≡ ";
@margin 3;
@opacity high;
@italic false;
@underline true;
@glow true;
@font "Pragmata Pro";

@color {
  user: blue;
  host: teal;
  label: overlay0;
  value: text;
  separator: blue;
  title: blue;
  logo: teal;
}

@logo {
  enabled: true;
  distro: auto;
  color: teal;
}

@title {
  enabled: true;
  format: "⟪ {user} ∙ {host} ⟫";
}

@info {
  os: true;
  host: false;
  kernel: true;
  uptime: true;
  packages: false;
  shell: false;
  terminal: false;
  de: false;
  wm: false;
  cpu: true;
  gpu: false;
  memory: true;
  disk: true;
  locale: false;
  battery: true;
  resolution: false;
}

@labels {
  capitalize: true;
  uppercase: false;
}
