@theme forest;
@separator "─";
@margin 1;

@color { user: #228b22; host: #32cd32; label: #f0fff0; value: #f0fff0; separator: #006400; }

@info { os: true; kernel: true; uptime: true; shell: true; cpu: true; memory: true; disk: true; }
