@theme forest;
@style full;
@palette catppuccin;
@separator " ┊ ";
@margin 2;
@opacity medium;
@bold true;
@italic false;
@underline false;
@glow false;
@font "Fira Code";

@color {
  user: green;
  host: green;
  label: green;
  value: green;
  separator: green;
  title: green;
  logo: green;
}

@logo {
  enabled: true;
  distro: auto;
  color: green;
}

@title {
  enabled: true;
  format: "{user} @ {host}";
}

@info {
  os: true;
  host: false;
  kernel: true;
  uptime: true;
  packages: true;
  shell: false;
  terminal: false;
  de: true;
  wm: true;
  cpu: true;
  gpu: false;
  memory: true;
  disk: false;
  locale: false;
  battery: false;
  resolution: false;
}

@labels {
  capitalize: true;
  uppercase: false;
}

custom: "🌿🌿🌿🌿🌿🌿🌿🌿🌿🌿🌿";
