@theme blood;
@separator "!";
@margin 1;
@bold true;

@color { user: #dc143c; host: #8b0000; label: #ffe4e1; value: #ffe4e1; separator: #8b0000; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }
