@theme lavender;
@separator "─";
@margin 2;

@color { user: #e6e6fa; host: #d8bfd8; label: #fffff0; value: #fffff0; separator: #9370db; }

@info { os: true; kernel: true; uptime: true; shell: true; terminal: true; wm: true; cpu: true; memory: true; disk: true; }

custom: "~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~";
