@theme emerald;
@style compact;
@palette catppuccin;
@separator " ≈ ";
@margin 2;
@opacity medium;
@bold false;
@italic false;
@underline true;
@glow false;
@font "Iosevka";

@color {
  user: green;
  host: green;
  label: green;
  value: green;
  separator: green;
  title: green;
  logo: green;
}

@logo {
  enabled: true;
  distro: auto;
  color: green;
}

@title {
  enabled: true;
  format: "{user}@{host}";
}

@info {
  os: true;
  host: true;
  kernel: true;
  uptime: false;
  packages: false;
  shell: false;
  terminal: false;
  de: false;
  wm: false;
  cpu: true;
  gpu: false;
  memory: true;
  disk: true;
  locale: false;
  battery: false;
  resolution: false;
}

@labels {
  capitalize: false;
  uppercase: false;
}
