@theme emerald;
@separator "─";
@margin 1;
@italic true;

@color { user: #50c878; host: #00fa9a; label: #f0fff0; value: #f0fff0; separator: #2e8b57; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }
