@theme void;
@separator "::";
@margin 2;

@color { user: #478061; host: #96a7c9; label: #ffffff; value: #ffffff; separator: #96a7c9; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }

custom: "─────────────────────────────────";
custom: "  void linux";
custom: "─────────────────────────────────";
