@theme ice;
@style minimal;
@palette nord;
@separator " - ";
@margin 0;
@opacity low;
@bold false;
@italic false;
@underline false;
@glow false;
@font "monospace";

@color {
  user: white;
  host: white;
  label: white;
  value: white;
  separator: white;
  title: white;
  logo: white;
}

@logo {
  enabled: false;
  distro: auto;
  color: white;
}

@title {
  enabled: false;
}

@info {
  os: true;
  host: false;
  kernel: true;
  uptime: false;
  packages: false;
  shell: false;
  terminal: false;
  de: false;
  wm: false;
  cpu: false;
  gpu: false;
  memory: true;
  disk: false;
  locale: false;
  battery: false;
  resolution: false;
}

@labels {
  capitalize: false;
  uppercase: false;
}
