@theme ice;
@separator "─";
@margin 1;

@color { user: #add8e6; host: #b0e0e6; label: #f0f8ff; value: #f0f8ff; separator: #4682b4; }

@info { os: true; kernel: true; uptime: true; shell: true; cpu: true; memory: true; disk: true; }
