@theme pastel;
@separator "─";
@margin 2;

@color { user: #ffb3ba; host: #bae1ff; label: #ffffba; value: #ffffba; separator: #baffc9; }

@info { os: true; kernel: true; uptime: true; shell: true; terminal: true; wm: true; cpu: true; memory: true; disk: true; }

custom: "～～～～～～～～～～～～～～～～～～～";
