@theme vaporwave;
@separator "◆";
@margin 3;
@glow true;
@italic true;

@color { user: #ff71ce; host: #01cdfe; label: #05ffa1; value: #05ffa1; separator: #b967ff; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }

custom: "░▒▓█ VOIDFETCH █▓▒░";
