@theme retro;
@separator "-";
@margin 1;
@uppercase true;

@color { user: #33ff00; host: #33ff00; label: #33ff00; value: #33ff00; separator: #009900; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }

custom: "C:\\> SYSTEM READY_";
