@reset;

@theme sakura;
@style fancy;
@separator " ❋ ";
@margin 3;
@italic true;
@glow true;

@title { enabled: true; format: "❀ {user} ❀ {host} ❀"; }
@logo { enabled: false; }

@info {
  os: true;
  host: true;
  kernel: true;
  uptime: true;
  packages: false;
  shell: false;
  terminal: false;
  de: false;
  wm: false;
  cpu: false;
  gpu: false;
  memory: true;
  disk: false;
  locale: false;
  battery: false;
  resolution: false;
}

custom: "✿✿✿✿✿✿✿✿✿✿✿✿✿✿✿✿✿✿✿✿";
