@reset;

@theme gruvbox;
@style clean;
@separator " • ";
@margin 2;
@opacity low;
@italic true;

@title { enabled: false; }
@logo { enabled: false; }

@info {
  os: true;
  host: true;
  kernel: true;
  uptime: true;
  packages: true;
  shell: true;
  terminal: false;
  de: false;
  wm: false;
  cpu: false;
  gpu: false;
  memory: true;
  disk: false;
  locale: false;
  battery: false;
  resolution: false;
}

@labels { uppercase: false; }
