@separator "─";
@margin 1;

@color { user: #708090; host: #778899; label: #c0c0c0; value: #c0c0c0; separator: #2f4f4f; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }
