@reset;

@theme vaporwave;
@style rainbow;
@separator " ► ";
@margin 2;
@italic true;
@glow true;
@underline true;

@title { enabled: true; format: "★ {user} ★ {host} ★"; }
@logo { enabled: false; }

@info {
  os: true;
  host: false;
  kernel: true;
  uptime: false;
  packages: false;
  shell: false;
  terminal: false;
  de: false;
  wm: true;
  cpu: true;
  gpu: false;
  memory: true;
  disk: true;
  locale: false;
  battery: false;
  resolution: false;
}

custom: "▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪▪";
