@separator "│";
@margin 2;

@color { user: #ff69b4; host: #ff1493; label: #ffb6c1; value: #ffb6c1; separator: #c71585; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }
