@theme abyss;
@separator "─";
@margin 2;
@italic true;

@color { user: #191970; host: #000080; label: #e6e6fa; value: #e6e6fa; separator: #00008b; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }
