@reset;

@theme abyss;
@style minimal;
@separator " ⋮ ";
@margin 4;
@opacity low;
@italic true;

@title { enabled: false; }
@logo { enabled: true; distro: auto; }

@info {
  os: true;
  host: false;
  kernel: true;
  uptime: true;
  packages: false;
  shell: false;
  terminal: false;
  de: false;
  wm: false;
  cpu: false;
  gpu: false;
  memory: true;
  disk: false;
  locale: false;
  battery: false;
  resolution: false;
}

custom: "~~~~~~~~~~~~~~~~~~~~~~~~~";
