@theme solar;
@separator "!";
@margin 1;
@bold true;
@glow true;

@color { user: #ff4500; host: #ff6347; label: #ffdead; value: #ffdead; separator: #ff8c00; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }

custom: "*** SOLAR FLARE ***";
