@reset;

@theme solarized;
@style full;
@separator " ‖ ";
@margin 2;
@italic false;
@bold true;
@glow true;

@title { enabled: true; format: "⟨⟨ {user} ∥ {host} ⟩⟩"; }
@logo { enabled: false; }

@info {
  os: true;
  host: true;
  kernel: true;
  uptime: false;
  packages: false;
  shell: false;
  terminal: false;
  de: false;
  wm: false;
  cpu: true;
  gpu: true;
  memory: true;
  disk: true;
  locale: false;
  battery: true;
  resolution: true;
}

@labels { uppercase: true; }
