@separator "-";
@margin 0;
@bold false;
@dim true;

@color { user: #478061; host: #96a7c9; label: gray; value: white; }

@info { os: true; kernel: true; uptime: true; shell: true; cpu: true; memory: true; disk: true; }
