@palette nord;
@separator "─";
@margin 2;
@italic true;
@underline true;

@color { user: #88c0d0; host: #a3be8c; label: #eceff4; value: #eceff4; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }

custom: "─── aurora borealis ───";
