@reset;

@theme ice;
@style clean;
@separator " ╶ ";
@margin 3;
@italic true;
@underline true;

@title { enabled: true; format: "{user}@{host}"; }
@logo { enabled: true; distro: auto; color: cyan; }

@info {
  os: true;
  host: true;
  kernel: true;
  uptime: true;
  packages: true;
  shell: false;
  terminal: false;
  de: false;
  wm: true;
  cpu: false;
  gpu: false;
  memory: true;
  disk: false;
  locale: false;
  battery: false;
  resolution: false;
}

custom: "╔═══════════════════════╗";
