@theme neon;
@separator "::";
@margin 2;
@glow true;

@color { user: #ff0040; host: #ff0040; label: #ffffff; value: #ffffff; separator: #ff0040; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }

custom: "▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓";
