@reset;

@theme blood;
@style hacker;
@separator " ▸ ";
@margin 1;
@italic false;
@bold true;
@underline true;
@glow true;

@title { enabled: true; format: ">> {user}@{host} <<"; }
@logo { enabled: false; }

@info {
  os: true;
  host: false;
  kernel: true;
  uptime: false;
  packages: false;
  shell: false;
  terminal: false;
  de: false;
  wm: true;
  cpu: true;
  gpu: true;
  memory: true;
  disk: false;
  locale: false;
  battery: false;
  resolution: false;
}

@labels { uppercase: true; }

custom: "▓▒░ REDHACK ░▒▓";
