@separator "─";
@margin 2;
@italic true;

@color { user: #b0c4de; host: #778899; label: #e6e6fa; value: #e6e6fa; separator: #483d8b; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }

custom: "·.·´¯\`·.· voidfetch ·.·´¯\`·.·";
