@separator "─";
@margin 1;

@color { user: #d2b48c; host: #a0522d; label: #faebd7; value: #faebd7; separator: #8b4513; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }
