/* voidfetch config - firestorm */

@theme sunset
@style full
@separator " ╻ "
@margin 1
@italic false
@bold true

@title {
  enabled: true;
  format: "🔥 {user}@{host}";
}

@info {
  os: true;
  host: false;
  kernel: true;
  uptime: false;
  packages: false;
  shell: false;
  terminal: false;
  de: false;
  wm: false;
  cpu: true;
  gpu: false;
  memory: true;
  disk: true;
  locale: false;
  battery: true;
  resolution: false;
}

@labels {
  capitalize: false;
  uppercase: true;
}

custom: "▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓";
