@theme dark;
@separator "─";
@margin 2;
@italic true;

@color { user: #4a0e4e; host: #8b008b; label: #dda0dd; value: #dda0dd; separator: #4b0082; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }

custom: "† gothic dark †";
