/* voidfetch config - infrared */

@theme blood
@style hacker
@separator " ▶ "
@margin 1
@italic false
@bold true
@glow true

@title {
  enabled: true;
  format: ">>{user}::{host}<<";
}

@info {
  os: true;
  host: false;
  kernel: true;
  uptime: false;
  packages: false;
  shell: false;
  terminal: false;
  de: false;
  wm: false;
  cpu: true;
  gpu: true;
  memory: true;
  disk: true;
  locale: false;
  battery: true;
  resolution: false;
}

@labels {
  capitalize: false;
  uppercase: true;
}

custom: "══════════════════════════";
