@separator "::";
@margin 2;
@glow true;

@color { user: #ff0000; host: #ff4500; label: #ffa500; value: #ffa500; separator: #ff6347; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }

custom: "▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓";
