@separator "─";
@margin 2;
@italic true;

@color { user: #50c878; host: #2e8b57; label: #f0fff0; value: #f0fff0; separator: #228b22; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }
