@separator "!";
@margin 1;
@bold true;

@color { user: #ff4500; host: #ff0000; label: #ffa500; value: #ffa500; separator: #8b0000; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }

custom: "░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░";
