@separator "─";
@margin 2;

@color { user: #4169e1; host: #1e90ff; label: #e6e6fa; value: #e6e6fa; separator: #00008b; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }
