/* voidfetch config - midnight-blues */

@theme nord
@style clean
@separator " : "
@margin 2
@italic true
@opacity low

@title {
  enabled: true;
  format: "{user}@{host}";
}

@info {
  os: true;
  host: false;
  kernel: true;
  uptime: true;
  packages: true;
  shell: true;
  terminal: false;
  de: false;
  wm: false;
  cpu: false;
  gpu: false;
  memory: true;
  disk: false;
  locale: false;
  battery: false;
  resolution: false;
}

@labels {
  capitalize: false;
  uppercase: false;
}
