@separator "─";
@margin 2;
@italic true;

@color { user: #00ced1; host: #20b2aa; label: #e0ffff; value: #e0ffff; separator: #2f4f4f; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }

custom: "~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~";
