/* voidfetch config - pixel-art */

@theme monokai
@style retro
@separator " :: "
@margin 1
@italic false
@bold true

@logo {
  enabled: true;
  distro: "cachyos";
}

@title {
  enabled: true;
  format: "[{user}@{host}]";
}

@info {
  os: true;
  host: false;
  kernel: true;
  uptime: false;
  packages: true;
  shell: true;
  terminal: false;
  de: false;
  wm: false;
  cpu: true;
  gpu: false;
  memory: true;
  disk: false;
  locale: false;
  battery: false;
  resolution: false;
}

@labels {
  capitalize: false;
  uppercase: true;
}

custom: "████████████████████████";
