@separator "─";
@margin 1;

@color { user: #e5e4e2; host: #c0c0c0; label: #f5f5f5; value: #f5f5f5; separator: #a9a9a9; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }
