/* voidfetch config - strawberry */

@theme rosepine
@style fancy
@separator " ❀ "
@margin 2
@italic true
@glow true

@title {
  enabled: true;
  format: "♡ {user} ∙ {host} ♡";
}

@info {
  os: true;
  host: true;
  kernel: true;
  uptime: true;
  packages: false;
  shell: false;
  terminal: false;
  de: false;
  wm: false;
  cpu: false;
  gpu: false;
  memory: true;
  disk: true;
  locale: false;
  battery: false;
  resolution: false;
}

@labels {
  capitalize: true;
  uppercase: false;
}

custom: "♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡♡";
