@separator "─";
@margin 2;
@italic true;

@color { user: #b0e0e6; host: #add8e6; label: #f0f8ff; value: #f0f8ff; separator: #4682b4; }

@info { os: true; kernel: true; uptime: true; shell: true; wm: true; cpu: true; memory: true; disk: true; }

custom: "❄ tundra ❄";
